.select-wrapper {
  display: flex;
  flex-direction: column;
}

.select-label {
  margin-bottom: 6px;
  font-weight: 500;
}

.select-field {
  padding: 8px;
  background-color: var(--color-background);
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1rem;
  color: var(--color-primary-text);
}

.select-field:focus {
  outline: none;
}
